
@{
    Layout = "_LayoutLogin";
}
<div id="card-with-string">
    <div class="card card-cascade narrower bg1" style="width: 350px;margin: 100px auto;margin-bottom: 20px;height: auto;display: block;">
        <div class="card-header bg2 " style="text-align:center;color:white;padding-top:5px;">
            <h4>Forgot your password?</h4>
        </div>
        <div class="card-body" style="padding-top:10px">
            <form asp-controller="Account" asp-action="reset" method="post" id="form-reset-container">
                <div id="form"></div>
                <div class="card-body" style="padding-top:10px"></div>
                <div id="reset-container" class="button-div">
                    <div id="btreset" style="background-color:#53a8de;"></div>
                </div>
            </form>

            <div style="display:none" id="reset-success">
                <p style="font-size:16px;">
                    Please check and your Email!
                </p>
                <a asp-action="Login" asp-controller="Account" style="text-align:center;display:block;margin-top:10px;">Login</a>
            </div>

        </div>
    </div>
    <div class="card bg1" style="width:350px; max-width:100%; height:auto; margin:0 auto; display:block;">
        <div class="card-body">
            <div id="resetFooterContainer" style="margin-top:20px;">
                <a href="http://ilab.md" style="font-size:14px;">Powered by</a>
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

     

        $(function () {
            var formWidget = $("#form").dxForm({

                readOnly: false,
                showColonAfterLabel: false,
                showValidationSummary: false,
                validationGroup: "customerData",
                requiredMark: '',
                items: [{
                    dataField: "Email",
                    validationRules: [{
                        type: "required",
                        message: "Obligatory field"
                    }]
                },]
            }).dxForm("instance");

            $("#form-reset-container").on("submit", function (e) {

                var data = $(this).serialize();

                $("#reset-container").prepend("<span class=\"button-lock\"></span>");

                var btnText = $("#reset-container .dx-button-text").text();
                $("#reset-container .dx-button-text").html("&nbsp;");

                $.ajax({
                    url: "/account/ForgotPassword",
                    type: "post",
                    data: data
                })                    
                    .fail(function (e) {
                        toastr["error"](e.statusText + ". HTTP-" + e.status, { "timeOut": "5000" });
                    })
                    .done(function (json) {
                        if (json.error == "") {
                            $("#form-reset-container").hide(200);
                            $("#reset-success").show(100);
                        } else {
                            toastr["error"](json.error, { "timeOut": "5000" });
                            $("[name=email]").focus().select();
                        }
                    })
                    .always(function () {
                        $("#reset-container").children()[0].remove();
                        $("#reset-container .dx-button-text").text(btnText);
                    });  
                e.preventDefault();
            });

          

            $("#btreset").dxButton({
                text: "Send via Email",
                type: "default",
                width: '100%',
                useSubmitBehavior: true,
                validationGroup: "customerData"
            });
        });
    </script>
}
