
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div id="card-with-string">
    <div class="card card-cascade narrower bg1" style="width: 350px;margin: 100px auto;margin-bottom: 10px;height: auto;display: block; margin-top:20px;">

        <div class="card-header bg2 " style="text-align:center;color:white;padding-top:5px;">
            <h4>Reset your password</h4>
        </div>


        <div class="card-body" style="padding-top:0px">
            <div >
                <div >
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Code" type="hidden" />
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                       
                       <button type="submit" style="background-color: rgb(83, 168, 222); color:white; height:40px; border-width:0px; width: 100%;" class="dx-button-text">Reset</button>

                        @*<button type="submit" class="dx-button-text">Reset</button>*@
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="card bg1" style="width:350px; max-width:100%; height:auto; margin:0 auto; display:block;">
        <div class="card-body">
            <div id="loginFooterContainer" style="margin-top:20px;">
                2018 &copy; <a target="_blank" style="font-size:14px;" href="#">Citizen serial info</a>
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
